# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Project specific
models/
local_storage/
tmp/
tmp_extract/
reports/
!reports/*.md
!reports/*.json

# Large data (Over 100MB Limit)
data/gi_data.zip
assets/*.zip
external/OllamaSetup.exe
external/gi_data.zip

# Build artifacts
external/whisper.cpp/build/
external/whisper.cpp/out/

# IDEs
.vscode/
.idea/
